{% extends 'base/skeleton.html' %}
{% load static %}
{% block page-css %}
<link rel="stylesheet" type="text/css" href="{% static 'fonts/stylesheet.css' %}">
<link rel="stylesheet" href="{% static 'css/celestial.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/new.css' %}">
<style>

 #celestial-map canvas {
    cursor: -webkit-grab !important;
    display: inline-block !important;
    position: relative !important;
    min-height: 11.25rem;
}


  #celestial-map canvas{
    width: 100% !important;
  }

</style>
{% endblock page-css %}

{% block page-body %}
<!--Header View-->
<header class="main_header">
   <div class="header_top_bar">
      <div class="head-top">
         <p>Free Shipping on all us orders</p>
      </div>
   </div>
   <div class="header_middle_logo">
      <div class="container logo-section">
         <a href="javascript:void(0);" class="middle_logo"> <img src="{%static 'images/logo-map-your-night.svg' %}" alt="logo"> </a>
         <div class="top-mob-content">
            Personalize your starmap
         </div>
      </div>
   </div>
</header>

<!--MAIN View-->

<!--form for starmap picker starts-->
  <div id="celestial-form" class="d-none"></div>
<!--form for starmap picker end-->

<section class="map_defining_sec">
      <div class="container">
        <div class="row product-area">
          <div class="col-md-6 product-image">
            <div class="form-group d-none mob-product">
             <ul class="product_ulimg">
               <li><input type="radio" checked class="color_box d-none" name="color_boxx" onchange="change_background('#0B1A26','#ffffff','#000')" id="mb1" /><label class="check-label" for="mb1"><img src="{%static 'images/color-1.png' %}" alt=""><span>Blue & White</span></label></li>
               <li><input type="radio" class="color_box d-none" name="color_boxx"   onchange="change_background('#000000','#ffffff','#000')" id="mb2" /><label class="check-label" for="mb2"><img src="{%static 'images/color-2.png' %}" alt=""><span>Black & White</span></label> </li>
               <li><input type="radio" class="color_box d-none" name="color_boxx"  onchange="change_background('#0B1A26','#0B1A26','#ffff')" id="mb3" /><label class="check-label" for="mb3"><img src="{%static 'images/color-3.png' %}" alt=""><span>Blue & Blue</span></label></li>
               <li><input type="radio" class="color_box d-none" name="color_boxx" onchange="change_background('#000000','#000000','#ffff')" id="mb4" /><label class="check-label" for="mb4"><img src="{%static 'images/color-4.png' %}" alt=""><span>Black & Black</span></label></li>
               <li><input type="radio" class="color_box d-none" name="color_boxx" onchange="change_background('#ffffff','#ffffff','#000')" id="mb5" /><label class="check-label" for="mb5"><img src="{%static 'images/color-5.png' %}" alt=""><span>White & White</span></label></li>
             </ul>
           </div>
            <div class="pro_img" id="pro_img">
                <input type="hidden" id="frame-color">
                 <div style="overflow:hidden;"><div id="celestial-map"></div></div>
                <input type="hidden" id="text-color">
                <div class="product-des" id="product-header">MAP YOUR NIGHT
                </div>
                <div class="product-des mt-5" id="product-des">
                  April 1, 2020 <br> Los Angeles, CA<br> 32.716˚ N 122.614˚ W
                </div>
            </div>
        </div>
        <div class="col-md-6 product-detail">
    <div id="error"></div>
    <form id="final_sub" name="final_sub" method="post">
        {% csrf_token %}
        <div class="col d-none">
            <!-- projection, transform, size, location?-->
            <input type="hidden" maxlength="4" name="width" value=""/>
            <select name="projection" id="projection" class="d-none"></select>
            <select name="transform" id="transform" class="d-none"></select>
            <input type="hidden" name="address-value" id="address-value" value="">
            <input type="hidden" name="address-name" id="address-name" value="">
            <input type="hidden" name="address-administration" id="address-administration" value="">
            <input type="hidden" name="address-country" id="address-country" value="">
            <input type="hidden" name="locx" id="locx" value="" max="90" min="-90" step="0.1">
            <span id="lxunit" class="d-none">h</span>
            <input type="hidden" name="locy" id="locy" value="" max="180" min="-180"
                                               step="0.1">

            <input name="svg_val" id="svg_value" class="d-none">

             <label title="Date coordinates in selected coordinate space">Date
             <input type="text" name="date" id="date" value=""></label>
        </div>
        <div class="col d-none">
            <!-- stars -->
            <label><strong>Stars</strong> <input type="checkbox" name="stars-show" value="true"/></label>
            <label>down to magnitude<input type="number" name="stars-limit" value="" max="6" min="-1"
                                           step="0.1"></label>
            <label>with spectral colors<input type="checkbox" name="stars-colors" value="true"> </label>
            <label>or default color <input type="color" name="stars-color" id="star_color" value=""> </label><br>
            <label>Show names<input type="checkbox" name="stars-names" value="true"> </label>
            <label>proper names (if any)<input type="checkbox" name="stars-proper" value="true"> </label>
            <label>or designations<input type="checkbox" name="stars-desig" value="true"> </label>
            <label>down to mag<input type="number" name="stars-namelimit" value="" max="6" min="-1" step="0.1"></label>
        </div>

        <div class="col d-none">
            <!-- dsos -->
            <label title="Deep Space Objects"><strong>DSOs</strong> <input type="checkbox" name="dsos-show"
                                                                           value="true"> </label>
            <label>down to mag<input type="number" name="dsos-limit" value="" max="6" min="0" step="0.1"></label>
            <label>with names<input type="checkbox" name="dsos-names" value="true"> </label>
            <label>or designations<input type="checkbox" name="dsos-desig" value="true"> </label>
            <label>down to mag<input type="number" name="dsos-namelimit" value="" max="6" min="0" step="0.1"> </label>
        </div>
        <div class="col d-none">
            <!-- constellations -->
            <label><strong>Constellations</strong> <input type="checkbox" name="constellations-show" id="constellations-show"> </label>
            <label>with names<input type="checkbox" name="constellations-names" value="true"> </label>
            <label>abbreviated<input type="checkbox" name="constellations-desig" value="true"> </label>
            <label>with lines<input type="checkbox" name="constellations-lines" value="true" id="constellations-lines"> </label>
            <label>with boundaries<input type="checkbox" name="constellations-bounds" value="true"> </label>
        </div>
        <div class="col d-none">
            <!-- graticules & planes -->
            <strong>Lines</strong>
            <label title="X/Y grid lines">Graticule<input type="checkbox" name="lines-graticule" value="true" id="lines-graticule"> </label>&nbsp;&nbsp;
            <label>Equator<input type="checkbox" name="lines-equatorial" value="true"> </label>
            <label>Ecliptic<input type="checkbox" name="lines-ecliptic" value="true"> </label>
            <label>Galactic plane<input type="checkbox" name="lines-galactic" value="true"> </label>
            <label>Supergalactic plane<input type="checkbox" name="lines-supergalactic" value="true"> </label>
        </div>
        <div class="col d-none">
            <strong>Other</strong>&nbsp;&nbsp;
            <label>Milky Way<input type="checkbox" name="mw-show" value="true"> </label>&nbsp;&nbsp;
            <label> Background color <input type="color" name="background" id="bg_color" value=""> </label>&nbsp;&nbsp;
            <label title="Sizes are increased with higher zoom-levels"> Adaptable sizes <input type="checkbox"
                                                                                               name="adaptable"
                                                                                               value="true"> </label>
        </div>
        <input type="hidden" id="json_data" value="" name="json_data">
        <input type="button" id="show" value="Show" class="d-none">&nbsp;&nbsp;
        <input type="button" id="defaults" value="Defaults" class="d-none">
    </form>

            <div class="form-group">
              <label for="address">Location</label>
              <div class="location">
              <input type="text" class="form-control" placeholder="Start typing your location" id="address">
                  <div class="icon" id><img src="{%static 'images/location.png' %}" id="locate-me"></div>
              </div>
            </div>

            <div class="form-row date-widget">
              <div class="form-group col-md-5 mth">
                <label for="inputmonth">Month</label>
                  <div class="drop-icon">
                    <select id="inputmonth" class="form-control bear-months" onchange="on_month_change()">
                    </select>
                  </div>
              </div>
              <div class="form-group col-md-3 dy">
                <label for="inputday">Day</label>
                  <div class="drop-icon">
                    <select id="inputday" class="form-control bear-dates" onchange="on_date_change()">
                    </select>
                  </div>
              </div>
              <div class="form-group col-md-4 yr">
                <label for="inputyear">Year</label>
                  <div class="drop-icon">
                    <select id="inputyear" class="form-control bear-years" onchange="on_date_change()">
                    </select>
                  </div>
              </div>
            </div>

<!--            <div class="form-row">-->
<!--              <div class="form-group col-md-12">-->
<!--                  <input type="hidden" id="datee" readonly='readonly'>-->

<!--              </div>-->
<!--            </div>-->

           <div class="form-group desk-product">
             <ul class="product_ulimg">
               <li><input type="radio" checked class="color_box d-none" name="color_box" onchange="change_background('#0B1A26','#ffffff','#000')" id="cb1" /><label class="check-label" for="cb1"><img src="{%static 'images/color-1.png' %}" alt=""><span>Blue & White</span></label></li>
               <li><input type="radio" class="color_box d-none" name="color_box"   onchange="change_background('#000000','#ffffff','#000')" id="cb2" /><label class="check-label" for="cb2"><img src="{%static 'images/color-2.png' %}" alt=""><span>Black & White</span></label> </li>
               <li><input type="radio" class="color_box d-none" name="color_box"  onchange="change_background('#0B1A26','#0B1A26','#ffff')" id="cb3" /><label class="check-label" for="cb3"><img src="{%static 'images/color-3.png' %}" alt=""><span>Blue & Blue</span></label></li>
               <li><input type="radio" class="color_box d-none" name="color_box" onchange="change_background('#000000','#000000','#ffff')" id="cb4" /><label class="check-label" for="cb4"><img src="{%static 'images/color-4.png' %}" alt=""><span>Black & Black</span></label></li>
               <li><input type="radio" class="color_box d-none" name="color_box" onchange="change_background('#ffffff','#ffffff','#000')" id="cb5" /><label class="check-label" for="cb5"><img src="{%static 'images/color-5.png' %}" alt=""><span>White & White</span></label></li>
             </ul>
           </div>

           <div class="form-group check_on">
             <div class="on-off">
              <span class="const"><img src="{%static 'images/icon-constellation.svg' %}"> constellations</span>
             <label class="switch">
              <input class="tog" type="checkbox" id="const-show" onchange="change_constellations()">
               <span class="toggle-btn round"></span>
             </label>
             </div>
              <div class="on-off">
              <span class="const"><img src="{%static 'images/icon-grid.svg' %}"> Grid</span>
             <label class="switch">
              <input class="tog" type="checkbox" id="grid-show" onchange="show_grid()">
               <span class="toggle-btn round"></span>
             </label>
              <!--<input type="checkbox"   switch="none" id="grid-show" onchange="show_grid()" />
                  <label for="grid-show" data-on-label="On" data-off-label="Off" class="switch"></label>-->
             </div>
           </div>

            <div class="form-group" >
               <textarea rows="1" type="text" class="form-control" placeholder="Type in your custom message" id="custom-header" onkeydown="check_header_key(event)" oninput="changeCustomMessage(this,0)"></textarea>
           </div>

           <div class="form-group d-none" id="cheader_class">
               <textarea rows="1" type="text" class="form-control" placeholder="Type in your custom location and time" id="custom-meesage"  onkeydown="check_key(event)" oninput="changeCustomMessage(this,1)"></textarea>
           </div>


            <div class="form-group check_on font-selecte" id="fontMessage" hidden>
                 <div class="on-off">
                  <span class="const">font</span>
                     <div class="drop-icon">
                         <select id="font-slect" class="form-control" onchange="changeFont()">
                             <option selected="">helvetica</option>
                             <option>Georgia</option>
                         </select>
                     </div>
                 </div>
                  <div class="on-off">
                  <span class="const">message</span>
                 <label class="switch">
                  <input class="tog" type="checkbox" id="msgShow" onchange="showHideMessage()" checked>
                   <span class="toggle-btn round"></span>
                 </label>
                 </div>
               </div>

               <div class="form-group add-megnatic">
                   <div class="add-mef-left">
                        <span>$30</span>
                   </div>
                     <div class="add-mef-center">
                       <h5>Add magnetic hanger frame</h5>
                        <p>Minimalistic and convenient solution<br>for any wall application. <a href="#!"  data-toggle="modal" data-target="#myModal2">Learn more</a> <img src="{%static 'images/icon-link.svg' %}"></p>
                   </div>
                     <div class="add-mef-right">
                         <button type="button" class="btn btn-primary add" id="add_div" data-toggle="modal" data-target="#myModal2" onclick="add_click()"><img src="{%static 'images/icon-add.svg'%}" id="plus-icon"><span  onclick="add_click()" id="plus-text">Add</span></button>
                   </div>
               </div>

              <!-- Modal -->
              <div class="modal fade" id="myModal2" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                      <button type="button" class="close" data-dismiss="modal"><img src="{% static 'images/icon-close.svg' %}"></button>
<!--                      <img src="{% static 'images/icon-close.svg' %}">-->
                    <div class="modal-body">
                      <div class="add-popup">
                         <div class="pop-img"><img src="{% static 'images/add-pop.png' %}"></div>
                         <div class="pop-right">
                           <h4>Magnetic hanger frame</h4>
                           <p>Helps you to hang your new starmap in style without damaging the paper canvas</p>
                           <div class="pop-right-bottm">
                               <button type="button" class="btn btn-primary add"  data-toggle="modal" data-target="#myModal2">Add for $30</button>
                                              <a href="#!">Maybe later</a>
                           </div>
                         </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
           <div class="form-group">
              <button type="button" class="btn btn-primary continue" disabled id="continue" onclick="submit_starForm(event)">Continue</button>
           </div>
       </div>
      </div>
      </div>
    </section>

<!--#####################################################################################-->


<!-- FOOTER VIEW -->
<section class="map_features_sec">
   <div class="container">
      <div class="row">
         <div class="col-md-4 quality grt-gift">
            <div class="icon-img">
               <img src="{%static 'images/gift.svg' %}" alt="feature">
            </div>
            <h3>Great Gift</h3>
            <p>Treat yourself or beloved ones with<br> a great personal gift</p>
         </div>
         <div class="col-md-4 quality">
            <div class="icon-img">
               <img src="{%static 'images/review.svg' %}" alt="feature">
            </div>
            <h3>High Quality</h3>
            <p>Our customers are particulary<br> enjoying high quality of the prints</p>
         </div>
         <div class="col-md-4 quality">
            <div class="icon-img">
               <img src="{%static 'images/delivery.svg' %}" alt="feature">
            </div>
            <h3>Free Shipping</h3>
            <p>Fast & free shipping on all<br> US orders</p>
         </div>
      </div>
   </div>
</section>


<section class="map_footer">
  <div class="container">
      <div class="footer-logo">
         <a href="javascript:void(0);" class="middle_logo"> <img src="{%static 'images/logo-map-your-night.svg' %}" alt="logo"> </a>
      </div>
      <p>MapYourNight was founded by a creative<br> individual passionate about outer space, star<br> gazing and cosmic explorations.</p>
  </div>
</section>

<section class="footer-copyright">
<div class="container">
   <div class="copyright">
      <p>© MapYourNight 2020</p>
   </div>
   <div class="payment">
      <ul class="Footer__PaymentList HorizontalList">
         <li class="HorizontalList__Item">We accept:</li>
         <li class="HorizontalList__Item"><img src="{% static 'images/payment/amex.svg' %}"></li>
         <li class="HorizontalList__Item"><img src="{% static 'images/payment/apple-pay.svg' %}"></li>
         <li class="HorizontalList__Item"><img src="{% static 'images/payment/blue-icon.svg' %}"></li>
         <li class="HorizontalList__Item"><img src="{% static 'images/payment/yellow.svg' %}"></li>
         <li class="HorizontalList__Item"><img src="{% static 'images/payment/google-pay.svg' %}"></li>
         <li class="HorizontalList__Item"><img src="{% static 'images/payment/jcb.svg' %}"></li>
         <li class="HorizontalList__Item"><img src="{% static 'images/payment/card.svg' %}"></li>
         <li class="HorizontalList__Item"><img src="{% static 'images/payment/paypal.svg' %}"></li>
         <li class="HorizontalList__Item"><img src="{% static 'images/payment/pay-icon.svg' %}"></li>
         <li class="HorizontalList__Item"><img src="{% static 'images/payment/v.svg' %}"></li>
         <li class="HorizontalList__Item"><img src="{% static 'images/payment/visa.svg' %}"></li>
      </ul>
      <!--<p>We accept:  <img src="{%static 'images/payment.png' %}"></p>-->
   </div>
</div>

{% endblock page-body %}
{% block page-js %}
<script type="text/javascript" src="{% static 'js/new/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/new/d3.geo.projection.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/new/celestial.js' %}"></script>

//date script
<script type="text/javascript" src="{% static 'js/lib/calender.js' %}"></script>

//location scripts
<script src="https://cdn.jsdelivr.net/npm/places.js@1.18.1"></script>
<script src="https://cdn.jsdelivr.net/algoliasearch/3.31/algoliasearchLite.min.js"></script>


<link rel="stylesheet" href="{% static 'css/celestial.css' %}">
<script type="text/javascript">
Celestial.display({
  form: true,
  formFields: {download: true},
  datapath: "/static/data/",
  stars: {propername: true},
  background: {
    fill: "#0b1a26",
    opacity: 1,
    stroke: '', // Outline
    width: 1.5
  }
});

</script>
<script type="text/javascript">

console.log(screen.width+" screen width ");
//Initial Steps
set_date();

//message size change
function autosize(size){
    document.querySelector("#custom-meesage").rows = size;
}

//trigger starmap change event
function trigger_change_event(element_id){
  element = document.getElementById(element_id);
    var event = new Event('change');
    // Dispatch it.
    element.dispatchEvent(event);
}

function convert_month(month){
    var months = ['test','January','February','March','April','May','June','July','August','September','October','November','December'];
    return months[month];
}

function set_date(){
        dates('option');
        months('option');
        var d = new Date();
        var year = d.getFullYear();
        years('option', year-10, year+10);
        var month = convert_month(d.getMonth()+1);
        document.getElementById("inputmonth").value = month;
        document.getElementById("inputyear").value = d.getFullYear();
        document.getElementById("inputday").value = d.getDate();
}

function set_res_date(day,monthh,year){
    var month_list = ['test','January','February','March','April','May','June','July','August','September','October','November','December'];
    month = month_list.indexOf(monthh);
    month_str = month;
    if(month<=9){
        month_str = "0"+month_str;
    }
    day_str = day;
    if(day<=9){
        day_str = "0"+day_str;
    }
    month_val = month-1;
    $("#datepick").click();
    $('#yr option:contains('+year+')').prop('selected','selected');
    trigger_change_event("yr");
    $('#mon').val(month_val);
    trigger_change_event("mon");
    date_val = year+"-"+month_str+"-"+day_str;
    $("#"+date_val).click();
    $("#tz").val('-240');
    trigger_change_event("tz");

}

function on_month_change(){
        var month = document.getElementById("inputmonth").value;
        var month_list = ['test','January','February','March','April','May','June','July','August','September','October','November','December'];
        month_index = month_list.indexOf(month);
        var op = document.getElementById("inputday").getElementsByTagName("option");
        if(month_index == 1 || month_index == 3 || month_index == 5 || month_index == 7 || month_index == 8 || month_index == 10 || month_index == 12){
            // op[30] means where option value is 31 and so on
            op[30].style.display = "block";
            op[29].style.display = "block";
        }else if(month_index == 2){
            op[30].style.display = "none";
            op[29].style.display = "none";
        }else{
            op[30].style.display = "none";
            op[29].style.display = "block";
        }
        on_date_change();
}

function on_date_change(){
        autosize(3);
        set_text();
        var month = document.getElementById("inputmonth").value
        var year = document.getElementById("inputyear").value
        var day = document.getElementById("inputday").value
        set_res_date(day,month,year);

}

// Constellations
function change_constellations()
{
    var showConst = document.getElementById("const-show").checked;
    document.getElementById("constellations-lines").checked = showConst;
    trigger_change_event("constellations-lines")
}

// Show  Grid
function show_grid()
{
    var showGrid = document.getElementById("grid-show").checked;
    document.getElementById("lines-graticule-show").checked = showGrid;
    trigger_change_event("lines-graticule-show");
}

// Change Font Family
function changeFont(){
    var fontVal = document.getElementById("font-slect").value;
    document.getElementById("product-des").style.fontFamily = fontVal;
    document.getElementById("product-header").style.fontFamily = fontVal;
}

// Show/hide Frame messages
function showHideMessage(){
var showMsg = document.getElementById("msgShow").checked;
    if (showMsg == true){
        document.getElementById("product-des").style.visibility = "visible";
        document.getElementById("product-header").style.visibility = "visible";
    }
    else{
        document.getElementById("product-des").style.visibility = "hidden";
         document.getElementById("product-header").style.visibility = "hidden";
    }
}


// FRAME background change functionality
function change_background(color,frame_color,text_color)
{
  starColor = color=='#ffffff'?'#000':'#ffffff'
  ACTIVE_SPINNER_ID = color=='#ffffff'?"spinner":"spinner_white";
  document.getElementById('pro_img').style.backgroundColor = frame_color;
  document.getElementById('frame-color').value = frame_color;
  document.getElementById('product-des').style.color = text_color;
  document.getElementById('product-header').style.color = text_color;
  document.getElementById('text-color').value = text_color;

<!--  background-fill-->
   document.querySelector('#background-fill').value =  color;
   document.querySelector('#stars-style-fill').value = starColor;
   trigger_change_event("background-fill");
   trigger_change_event("stars-style-fill");

}



//Text set functionality begins
//if enter pressed while entering header row size increases
function check_header_key(e){
 if(e.keyCode == 13){
    document.querySelector("#custom-header").rows = document.querySelector("#custom-header").rows + 1;
    }
}
//if enter pressed while entering message row size increases
function check_key(e){
     if(e.keyCode == 13){
        document.querySelector("#custom-meesage").rows = document.querySelector("#custom-meesage").rows + 1;
        }
}

function changeCustomMessage(e,type) {

  var cstmHeader = document.getElementById("custom-header").value ;
  var cstmText = document.getElementById("custom-meesage").value ;
  replaceValue = cstmText.replace(/\n\r?/g, '<br/>');
  header_Value = cstmHeader.replace(/\n\r?/g, '<br/>');
  document.getElementById("product-header").innerHTML = header_Value;
  document.getElementById("product-des").innerHTML = replaceValue;

}


function set_text(){
    var month = document.getElementById("inputmonth").value
    var year = document.getElementById("inputyear").value
    var day = document.getElementById("inputday").value
    set_res_date(day,month,year);
    var lat_val = document.querySelector('#locx').value || "32.716";
    var lng_val = document.querySelector('#locy').value || "122.614" ;
    var name = document.querySelector('#address-name').value || "Los Angles"
    var admin = document.querySelector('#address-administration').value || ""
    var country = document.querySelector('#address-country').value || "CA"
    document.getElementById("custom-meesage").value =  day + " "  +month+ ", " +year+ " \n" +name+", "+admin+ ",  " +country+ "\n" +lat_val+"˚ N " +lng_val+"˚ W";
    changeMessage();
    document.getElementById("fontMessage").removeAttribute("hidden");
}

function changeMessage() {
  var cstmHeader = document.getElementById("custom-header").value ;
  if(cstmHeader == ""){
    cstmHeader = "MAP YOUR NIGHT";
  }
  var cstmText = document.getElementById("custom-meesage").value ;
  replaceValue = cstmText.replace(/\n\r?/g, '<br/>');
  header_Value = cstmHeader.replace(/\n\r?/g, '<br/>');
  document.getElementById("product-header").innerHTML = header_Value;
  document.getElementById("product-des").innerHTML = replaceValue;
}
//Text set functionality ends


//Location functionality Begins
// auto complete address
(function() {
  var placesAutocomplete = places({
    appId: 'plM5EYDTBXW4',
    apiKey: '115ef8558156ec517bf5f200a83d99f3',
    container: document.querySelector('#address')
  });

  var $address = document.querySelector('#address-value')

  placesAutocomplete.on('change', function(e) {
        //store all values in hidden form
        document.querySelector('#address-value').value = e.suggestion.value
        document.querySelector('#address-name').value = e.suggestion.name
        document.querySelector('#address-administration').value = e.suggestion.administrative
        document.querySelector('#address-country').value = e.suggestion.country
        document.querySelector('#locx').value =  e.suggestion.latlng.lat
        document.querySelector('#locy').value =  e.suggestion.latlng.lng

        //pass lat lng to starmap
        document.getElementById("lat").value = e.suggestion.latlng.lat
        document.getElementById("lon").value = e.suggestion.latlng.lng
        trigger_change_event("lon");

        //set text accordingly
        document.getElementById("custom-header").value = "MAP YOUR NIGHT";
        autosize(3);
        set_text();
        var el = document.getElementById("cheader_class");
        el.classList.remove("d-none");

        document.getElementById("continue").disabled = false;
  });

  placesAutocomplete.on('clear', function() {
        document.getElementById("continue").disabled = true;

  });

})();


//locate me

(function() {
  var places = algoliasearch.initPlaces('plM5EYDTBXW4', '115ef8558156ec517bf5f200a83d99f3');

  function updateForm(response) {
    var hits = response.hits;
    var suggestion = hits[0];

    //store all values in hidden form
    document.querySelector('#address-value').value = suggestion.value || "";
    document.querySelector('#address-name').value = suggestion.locale_names.default[0]
    document.querySelector('#address-administration').value = suggestion.administrative || "";
    document.querySelector('#address-country').value = suggestion.country.default || "";
    document.querySelector('#locx').value =  suggestion._geoloc.lat
    document.querySelector('#locy').value =  suggestion._geoloc.lng

    var month = document.getElementById("inputmonth").value
    var year = document.getElementById("inputyear").value
    var day = document.getElementById("inputday").value
    if (suggestion && suggestion.locale_names) {
      document.querySelector('#address').value = suggestion.locale_names.default[0] || '';
      document.getElementById("custom-meesage").innerHTML = month + " "  +day+ ", " +year+ " \n" +suggestion.locale_names.default[0]+","+suggestion.administrative+" "+suggestion.country.default+" \n" +suggestion._geoloc.lat+"˚ N " +suggestion._geoloc.lng+"˚ W";
      document.getElementById("custom-header").value = "MAP YOUR NIGHT";
      autosize(3);
      changeCustomMessage();
      var el = document.getElementById("cheader_class");
      el.classList.remove("d-none");
      document.getElementById("fontMessage").removeAttribute("hidden");
      document.getElementById("continue").disabled = false;

    }
  }

  var lat, lng;

  var $button = document.querySelector('#locate-me');
  var $latInput = document.querySelector('#locx');
  var $lngInput = document.querySelector('#locy');

  $latInput.addEventListener('change', function(e) {
    try {
      lat = parseFloat(e.target.value);

      if (typeof lat !== 'undefined' && typeof lng !== 'undefined') {
        places.reverse({
          aroundLatLng: lat + ',' + lng,
          hitsPerPage: 1,
        }).then(updateForm);
      }
    } catch (e) {
      lat = undefined;
    }
  });

  $lngInput.addEventListener('change', function(e) {
    try {
      lng = parseFloat(e.target.value);

      if (typeof lat !== 'undefined' && typeof lng !== 'undefined') {
        places.reverse({
          aroundLatLng: lat + ',' + lng,
          hitsPerPage: 1,
        }).then(updateForm);
      }
    } catch (e) {
      lng = undefined;
    }
  });

  $button.addEventListener('click', function() {

    navigator.geolocation.getCurrentPosition(function(response) {
      var coords = response.coords;
      lat = coords.latitude.toFixed(6);
      lng = coords.longitude.toFixed(6);
      $latInput.value = lat;
      $lngInput.value = lng;
      document.getElementById('show').click();
      document.getElementById("continue").disabled = false;

      places.reverse({
        aroundLatLng: lat + ',' + lng,
        hitsPerPage: 1
      }).then(updateForm);
    });
  });
})();

// Submit Form on continue click
function submit_starForm(event) {

    $("#download-svg").click();

    var mapAddress = document.getElementById("address").value;
    var maplat = document.getElementById("locx").value;
    var maplng = document.getElementById("locy").value;
    var mapDate = document.getElementById('datetime').value;
    var mapStarColor = document.getElementById('star_color').value;
    var mapFrameColor = document.getElementById('frame-color').value || "#ffffff";
    var mapBgColor = document.querySelector('#bg_color').value;
    var mapTextColor =  document.getElementById('text-color').value || "#000";
    var constVal = document.getElementById("const-show").checked;
    var gridVal = document.getElementById("grid-show").checked;
    var mapText = document.querySelector("#custom-meesage").value;
    var MapMsgStatus = document.getElementById("msgShow").checked;
    var MapFont = document.getElementById("font-slect").value

    setTimeout(() => {
        svg = document.getElementById("svg_element").value
        var json = {
                "location": mapAddress,
                "lat": maplat,
                "lng": maplng,
                "date":  mapDate,
                "star_color": mapStarColor,
                "frame_color":  mapFrameColor,
                "bg_color":  mapBgColor,
                "text_color":  mapTextColor,
                "constellations":  constVal,
                "grid":  gridVal,
                "message":  mapText,
                "font":MapFont,
                "svg_image":svg
            }
        document.getElementById("json_data").value = JSON.stringify(json)
        document.getElementById("final_sub").submit(); //form submission

     }, 100);



}

</script>
{% endblock page-js %}

